
/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;-webkit-text-size-adjust:none;overflow-y:scroll}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}img{vertical-align:top}

body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#header {
   width: 100%;
   position: fixed;
   visibility: hidden;
   z-index: 999;
}

#donnaTitle {
    font-size: 35px;
}

#info_box {
    top: 40px;
    width: auto;
    position: fixed;
    display: inline-block;
    text-align: left;
    cursor: default;
    font-size: 20px;
    z-index: 999;
}

.container {
    display: block;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}

.slider{
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.default_image {
    height: 200px;
    cursor: pointer;
}

.side_title {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: bottom right;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: bottom right;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: bottom right;
    -o-transform: rotate(-90deg);
    -o-transform-origin: bottom right;
    transform: rotate(-90deg);
    transform-origin: bottom right;
    white-space: nowrap;
    visibility: hidden;
}

.slider .slideWrapper article img {
    max-width: 100%;
    width: auto;
    height: 500px;
}


#footer {
    clear: both;
    position: absolute;
    bottom: -40px;
    height: 3em;
    width: 100%;
}

#footer > div {
    display: inline-block;
}

#copyright {
    float: right;
    padding-right: 100px;
    cursor: default;
}

#series_back {
    padding-left: 100px;
    cursor: default;
    font-style: italic;
}